<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div th:each="pedido : ${pedidos}">
			<div th:text="${pedido.nomeProduto}"></div>
			<div>Valor: <span th:text="${pedido.valorNegociado}"></span></div>
			<div>Data da entrega: <span th:text="${pedido.dataDaEntrega}"></span></div>
			<div>produto</div>
			<div> <input  th:value="${pedido.urlProduto}"></div>
			<div>Descricao</div>
			<div>
				<textarea th:text="${pedido.descricao}">d</textarea>
			</div>
			<div>
				<img th:src="${pedido.urlImagem}"/>
			</div>
		</div>
	</body>
</html>