<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
			<div th:replace="~{base :: titulo('Últimos Pedidos')}"></div>
			<div class="mb-3"></div>
			<div th:each="pedido : ${pedidos}" class="card mb-3">
				<div th:text="${pedido.nomeProduto}" class="card-header alert-dark"></div>
				<div class ="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <span th:if="${pedido.valorNegociado} != null"th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}"></span></div>
								<div class="col-md-7">Data da entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}"></span></div>
							</div>
							<div>Produto: </div>
							<div> <input  th:value="${pedido.urlProduto}" class="form-control"></div>
							<div>Descricao: </div>
							<div>
								<textarea th:text="${pedido.descricao}" class="form-control">d</textarea>
							</div>					
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img th:src="${pedido.urlImagem}" class="img-thumbnail"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>